.container {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.nav {
    font-size: 50px;
    font-family: Brush Script MT;
}

#heading {
    font-size: 200px;
    font-family: Brush Script MT;
    color: white;
}

.back {
    background-image: url("../assets/images/Background.png");
}

.back2 {
    background-color: #00001A; 
}

.foot {
    font-size: 25px;
    background-color: #00001A;
    font-family: Brush Script MT;
}

.link {
    width: 10px;
}

#title {
    text-align: center;
    font-size: x-large;
}

#links {
    text-align: center;
    font-size: x-large;
    padding-right: 10px;
}